:root {
  --degress: 0deg;
}

.bg-conic {
  background: conic-gradient(
    transparent 0deg,
    transparent var(--degress),
    white var(--degress),
    white 360deg
  );
}

.hand {
  transform-origin: bottom center;
  transform: rotate(var(--degress));
}
